<% include ../partials/header%>
<div class="container">
   <div class="card shadow rounded form-card-short">
      <div class="card-body">
         <h2 class="form-heading">Add Comment</h2>
         <form  action="/campsites/<%=campground.slug%>/comments" method="POST" class="form">
            <div class="form-group">
              <label >Comment</label>
              <input type="text" class="form-control" placeholder="Say something..." name="comment[text]">
            </div>
            <button type="submit" class="btn btn-lg btn-outline-primary btn-block">Add Comment</button>
         </form>
      </div>
    </div>
</div>
<% include ../partials/footer%>