<% include ./partials/header%>
<div class="container">
   <div class="card shadow bg-white rounded form-card-short">
      <div class="card-body">
         <h2 class="form-heading">Forgot Password</h2>
         <form  action="/forgot" method="POST" class="form">
            <div class="form-group">
               <label >Email</label>
               <input type="email" class="form-control" placeholder="Email" name="email" required>
            </div>
            <div class="form-group">
               <label >The Password reset instrutions will be sent on the email</label>
            </div>    
            <button type="submit" class="btn btn-lg btn-outline-primary btn-block">Submit</button>
         </form> 
      </div>
   </div>
</div>
<% include ./partials/footer%>