<% include ./partials/header%>
<div class="container">
   <div class="card shadow rounded form-card-short">
      <div class="card-body">
         <h2 class="form-heading">Log In</h2>
         <form  action="/login" method="POST" class="form">
            <div class="form-group">
               <label >Username</label>
               <input type="text" class="form-control"  placeholder="Username" name="username" required>
            </div>
            <div class="form-group">
               <label >Password</label>
               <span style="float: right;"><a href="/forgot">Forgot your password?</a></span>
               <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div>  
            <button type="submit" class="btn btn-lg btn-outline-primary btn-block">Log In</button>
            <br>
            <div class="form-group" style="text-align: center;">
               <a href="/register">Don't have an account? Sign up</a>   
            </div> 
      
         </form> 
      </div>
   </div>
   
</div>
<% include ./partials/footer%>