<% include ./partials/header%>
<div class="container">
   <div class="card shadow bg-white rounded form-card">
      <div class="card-body">
         <h2 class="form-heading">Sign Up</h2>
         <form  action="/register" method="POST" class="form">
            <div class="form-group">
               <label >Username</label>
               <input type="text" class="form-control"  placeholder="Username" name="username" required>
            </div>
            <div class="form-row">
               <div class="form-group col-md-6">
                 <label >First Name</label>
                 <input type="text" class="form-control" placeholder="First Name" name="firstName" required>
               </div>
               <div class="form-group col-md-6">
                 <label >Last Name</label>
                 <input type="text" class="form-control" placeholder="Last Name" name="lastName" required>
               </div>
             </div>
            <div class="form-group">
               <label >Email</label>
               <input type="email" class="form-control" placeholder="Email" name="email" required>
            </div>  
            <div class="form-group">
               <label >Secret Code</label>
               <input type="password" class="form-control" placeholder="Secret Code" name="secretCode">
               <small id="passwordHelpBlock" class="form-text text-muted">
                  Secret Code is for Admin Users only. If you want to be admin, enter the correct secret code.
                </small>
            </div> 
            <div class="form-group">
               <label >Password</label>
               <input type="password" class="form-control" placeholder="Password" name="password" required>
            </div> 
            <button type="submit" class="btn btn-lg btn-outline-primary btn-block">Sign Up</button>
         </form>
      </div>
   </div>
</div>
<% include ./partials/footer%>