* {
   font-family: 'Open Sans', sans-serif;
}

body {
}



.comment-section,
.review-section {
   margin-top: 30px;
}

.delete-form {
   display: inline;
}


a {
   text-decoration: none;
   color: #00B7ff;
}

.checked {
   color: orange;
}

/*MapBox Styling */
body {
   margin: 0;
   padding: 0;
}

#map {
   width: 100%;
   height: 400px;
}

.marker {
   background-image: url('/images/mapbox-icon.png');
   background-size: cover;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   cursor: pointer;
}

.mapboxgl-popup {
   max-width: 200px;
}

.mapboxgl-popup-content {
   text-align: center;
   font-family: 'Open Sans', sans-serif;
}

 
.inner{
   overflow: hidden;
}

.inner img{
   transition: all 1.5s ease;
}

.inner:hover img{
   transform: scale(1.5);
}

a.custom-card,
a.custom-card:hover {
   color: inherit;
   text-decoration: none;
}

/* Form Styles */

.form {
   margin: 0 auto; 
   padding: 10px;
}

.form-heading {
   text-align:center; 
   margin-bottom: 0; 
   margin-top: 20px;
}

.form-card {
   margin: 30px auto; 
   width: 50%;
}

.form-card-short {
   margin: 30px auto; 
   width: 40%;
}

@media (min-width:200px)  { 
   .form-card { 
      width: 100%;
   }
   .form-card-short { 
      width: 90%;
   }
}


@media (min-width:576px)  { 
   .form-card { 
      width: 100%;
   }
   .form-card-short { 
      width: 90%;
   }
}

@media (min-width:768px)  { 
   .form-card { 
      width: 80%;
   }
   .form-card-short { 
      width: 70%;
   }
}

@media (min-width:992px)  { 
   .form-card {
      width: 60%;
   }
   .form-card-short { 
      width: 50%;
   }
   .addCampsiteBtn{
      float: right;
   }
 }

 @media (min-width:1200px)  { 
   .form-card {
      width: 50%;
   }
   .form-card-short { 
      width: 40%;
   }
 }


