<% include ../partials/header%>
<div class="container">

   <ul class="list-group">

      <% notifications.forEach(function(notification){ %>
      <a href="/campgrounds/<%=notification.campgroundId%>">
         <li class="list-group-item">
            <%=notification.user%> created a new
            <%=notification.createdWhat%>
         </li>
      </a>
      <% })%>
   </ul>
</div>
<% include ../partials/footer%>