<% include ../partials/header%>
<div class="container">
  <div class="card shadow bg-white rounded form-card">
    <div class="card-body">
      <h2 class="form-heading">Add Campsite</h2>
      <form  action="/campgrounds" method="POST" class="form">
         <div class="form-row">
           <div class="form-group col-md-6">
             <label >Name</label>
             <input type="text" class="form-control" placeholder="Name" name="campground[title]" required>
           </div>
           <div class="form-group col-md-6">
             <label >Location</label>
             <input type="text" class="form-control" placeholder="Location" name="campground[location]">
           </div>
         </div>
         <div class="form-group">
           <label >Image</label>
           <input type="text" class="form-control" placeholder="Image" name="campground[img]">
         </div>
         <div class="form-group">
           <label >Price</label>
           <input type="number" min="1" class="form-control"  placeholder="Price" name="campground[price]">
         </div>
         <div class="form-group">
             <label >Description</label>
             <textarea class="form-control" type="text" name="campground[content]"
                     placeholder="Write a description for this campsite..." rows="5"></textarea>
         </div>
         <button type="submit" class="btn btn-lg btn-outline-primary btn-block">Add Campsite</button>
      </form>
    </div>
  </div>  
</div>
<% include ../partials/footer%>